body {
  background-color: aquamarine;
}

.bubbles1 {
  width: 25%;
  height: auto;
  border-radius: 5px;
}
.bubbles2 {
  width: 35%;
  height: auto;
  border-radius: 10px;
}
.bubbles3 {
  width: 25%;
  height: auto;
  border-radius: 8px;
}
.container {
  display: flex;
  justify-content: center;
}
.container img {
  width: 25%;
  padding: 5px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.horizontal-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.horizontal-list li a {
  padding: 10px 15px;
  text-decoration: none;
  color: purple;
  display: block;
}
.soap-bubble {
  font-family: "Rubik Bubbles", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  /* Layered shadows for 3D depth and iridescence */
  text-shadow:
    1px 1px 0px #e6acac,
    2px 2px 5px rgba(16, 143, 185, 0.5),
    /* Light blue glow */ -1px -1px 2px rgba(255, 182, 193, 0.4); /* Pinkish highlight */
}
