body {
  background-color: lightskyblue;
}

yarn1 {
  width: 25%;
  height: auto;
  border-radius: 5px;
}
.yarn2 {
  width: 25%;
  height: auto;
  border-radius: 10px;
}
.yarn3 {
  width: 25%;
  height: auto;
  border-radius: 8px;
}
.container {
  display: flex;
  justify-content: center;
}
.container img {
  width: 25%;
  padding: 5px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.horizontal-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.horizontal-list li a {
  padding: 10px 15px;
  text-decoration: none;
  color: rebeccapurple;
  display: block;
}
